<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <%= css :bootstrap %>
</head>
<body>
    <h1>Hello!</h1>
    
    <h4>This should look like a button</h4>
    <a class="btn" href="#">Button</a>
</body>
</html>
